main {
    font-family: sans-serif;
    margin:10% 5% 5% 10%;
}

/* Tasks Header */
h2 {
    font-size: 1.8em;
}
/* Input */
#name-task {
    font-size: 20px;
    font-size: max(18px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 1px solid rgb(rgb(114, 108, 63), green, blue);

    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: antiquewhite;
    padding: 1%;
    margin: 1% 0% 1% 0%;
}

/* Task children */
.task-name, .task-time-spent, .btn-start, .task-total-time {
    padding: 15px;
}
.task-name {
    font-size:20px;
    font-weight: bold;
    min-width: 100px;
}
.btn-start {
    max-height: 10px;
}

/* Toggle image pause and resume */
.btn-img-pause{
    background: url("public/pause.svg") center no-repeat;
    background-size: 20px 20px;
}
.btn-img-resume{
    background: url("public/resume.svg") center no-repeat;
    background-size: 20px 20px;
}


/* Add Task button */

.btn-add-task {
    background-color: rgb(204, 164, 78); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-add-task:hover {
    background-color: rgb(210, 180, 115); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/* Task children
.task-time-spent {
    flex: 2 0 1%;
}
.btn-toggle-start {
    flex:  0 1%;
}
.task-name {
    flex: 1 0 1%;
}
 */

